---
layout: layouts/base.njk
bodyClass: body-post
---
<main>
<article class="post" data-pagefind-body>
  <header>
    <h1 class="post-title">{{ title }}</h1>
    <p><time datetime="{{ date | date }}">
      {{ date | date }}
    </time></p>
  </header>

  <section>
    {{ content | safe }}
  </section>
</article>
</main>

<hr>

<footer>
  <section>
  <nav class="post-navigation">
    {%- set previousPost = search.previousPage(url, "type=posts") %}
    {%- if previousPost %}
    Previous<br>
    <a href="{{ previousPost.data.url }}" rel="prev">{{ previousPost.data.title }}</a>
    {% endif %}

    {%- set nextPost = search.nextPage(url, "type=posts") %}
    {%- if nextPost %}

    Next<br>
    <a href="{{ nextPost.data.url }}" rel="next">{{ nextPost.data.title }}</a>

    {% endif %}
  </nav>
  </section>

  <section>
  <p><a class="backhome" href="/">← home</a></p>
  </section>

</footer>